*{
  margin: 0%;
  padding: 0%;
}
html, body, #container{
    height: auto;
    width: auto;
    font-size: auto;
    margin:0%;

}

#body{
  margin-left: 250px;
}

body{
  background-color: #F0FFF0;
}
#categories{
  height: 42em;
  margin: 0%;
  padding: 0%;
}
#categories a{
  background-color: gray;
  color: white;
}
#side{
  position: fixed;;
  top=0;
  left=0;
  background: #000;
  color:white;
  height: 110%;
  float: left;
  overflow-y: auto;
  margin-left:  -3%;
  margin-top: -3%;
}
#navi a{
  color:gray;
  text-align:center;
  margin: 0%;
}
#navi a:hover{
  background-color:black;
  color: white;
}
#side ul a{
  text-align: center;
  width: 100%;
  align-self: center;
}
#side ul{
  float: left;
  width: 100%;
  padding: 0%;
}
input:checked + div #btn{
  background-color: green;
  color:white;
}
input[type=radio] {
    opacity: 0;
    margin= 0%;
}

#left{
  height: 95%;
  float: left;
}
#btn{
  height: auto;
  width: auto;
  font-size: auto;
  background-color: gray;
  color: white;
  overflow: hidden;
  margin: 1%;
  padding: 1%;
}
#btnAddOrder{
  margin: 1% 1% 1% 90%;
  height: auto;
  width: auto;
  background-color: #FF4500;

}
row{
  border: 1px solid black;
  background-color: black;
  padding: 0%;
  height: 100%;
}
.modifiersClass {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 8%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.col-xs-2.col-md-2{
  overflow: hidden;
}
.modifiers-content {
    position: relative;
    background-color: #e6f2ff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close1 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    vertical-align: middle;
    margin: 0%;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modifiers-header {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}

.modifiers-body {\
    height: auto;
    width: auto;
    overflow: hidden;
}

.modifiers-footer {
    color: white;
}
.form-group input[type="checkbox"] {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
.cachier{
    border: 1px solid gray;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}
.cachierBody{
  padding-left: 5%;
  background-color: #C2CCFD;
}
.extra{
  padding-left: 5%;
  font-size: 70%;
  list-style-type: none;
}
#center{
  width: 100%;
  height: 100%;
}
h2.center{
  margin-left:  25%;
}
.left{
  float:right;
  margin-right: 5%;
}
.right{
  margin-left: 5%;
}
#type {
margin: 0%;
padding: 0%;
}
.col-xs-4{
  overflow: hidden;
  padding: 0%;
}
.btn-group{
  align-self: center;
}
#tel{
  margin:2px;
}
